.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

server/compile.sh
server/LICENSE
server/README.md
server/test.lua
server/theme-tokens.md
server/changelog.md
server/make.lua
server/3rd/*
server/assets/*
server/build/*
server/doc/*
server/log/*
server/make/*
server/test/*
server/tools/*
